@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: aquamarine;
  background-image: linear-gradient(
    to top,
    aquamarine 0%,
    #3a7bd5 100%
  );
}

.carousel-item > img {
  max-height: 100vh;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
}
