@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #f0f0f0;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: aquamarine;
  background-image: linear-gradient(
    to top,
    aquamarine 0%,
    #3a7bd5 100%
  );
}

.title h6 {
  color: #c39f76;
}
