@media screen and (max-width: 960px) {
    body {
        overflow-x: hidden;
    }

    .hero-text .button {
        width: 100%;
    }

    .about {
        width: 100%;
        margin-bottom: 20vh;
        padding-top: 100px;
        min-height: 90vh;
    }

    .content-section {
        float: none;
        width: 90%;
        margin: auto;
    }

    .image-section {
        display: none;
    }

    .content-section .title {
        text-align: center;
        font-size: 19px;
    }

    .content-section .content h3 {
        width: 100%;
    }

    .content-section .content .button {
        text-align: center;
    }

    .content-section .content .button a {
        padding: 9px 30px;
    }

    .content-section .social {
        text-align: center;
    }

    .skills .skills-bar {
        width: 80%;
    }

    .education-section {
        margin-bottom: 20vh;
    }

    .education-section .education-items {
        width: 80%;
    }
    
    .experiences {
        margin-bottom: 20vh;
    }

    .experiences-box {
        width: 80%;
    }

    .boxes {
        flex-direction: column;
    }

    .boxes .box1, .boxes .box2 {
        width: 100%;
        margin-bottom: 20px;
    } 

    .contact {
        padding: 50px;
    }

    .contacts {
        flex-direction: column;
    }

    .contacts .contact-info {
        margin-bottom: 40px;
    }

    .contacts .contact-info, .contact-form {
        width: 100%;
    }
}